* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Header-Color: #FF5C5C;
    --Poppins: 'Poppins', sans-serif;
    --Source-Sans: 'Source Sans', sans-serif;
    --Form-Background: #E4E4E4;
}

.header {
    background-color: var(--Header-Color);
}

.logo, .formTitle {
    font-family: var(--Poppins);
}

label, input, button {
    font-family: var(--Source-Sans);
}

.forms {
    background-color: #E4E4E4;
}

.footer {
    display: grid;
    place-content: center;
    padding: 10px;
    background-color: black
}

.footer a {
    font-family: var(--Source-Sans);
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 280px) {
    .header {
        padding: 8px;
    }

    .main{
        padding: 15px;
    }

    .forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        padding: 15px;
    }

    .formTitle {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .forms input, .forms label {
        margin: 10px 0px 10px 0px;
    }

    .forms input {
        padding: 5px;
        width: 100%;
        border-radius: 6px;
        border: 1px solid black;
    }

    .generalForm, .educationForm {
        margin-bottom: 30px;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }

    .add, .remove {
        padding: 10px;
        margin: 0px 5px 0px 5px;
        font-size: .9rem;
        border-radius: 5px;
        border: none;
        width: 100%;
    }

    .add {
        background-color: rgb(82, 199, 82);
    }

    .remove {
        background-color: #FF5C5C;
    }

}

@media screen and (min-width: 480px) {
    .main {
        display: flex;
    }

    .forms, .preview {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    
}